.text-grey-dark {
  color: $color-text;
}


.text-dark {
  color: $color-text;
}


.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}